<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="ModemPort" value="COM4" />
        <add key="Timeout" value="5000" />
        <add key="TimeSync" value="5000" />
        <add key="SQLQuery" value="SELECT id, phone, message FROM Messages WHERE delivered is NULL" />
        <add key="SQLUpdate" value="UPDATE Messages SET delivered = GETDATE() WHERE id = {0}" />
        <add key="SQLInsert" value="INSERT INTO Messages (phone, message) VALUES('{0}', '{1}')" />
    </appSettings>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="user id=SMSGateway;password=SMSGateway2013!;server=BNSVHER348;database=SMSGATEWAY;connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
  <services>

    <service name="SMSGatewayWCFLibrary.Messages">
      <endpoint address="" binding="basicHttpBinding" contract="SMSGatewayWCFLibrary.IMessages">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8733/SMSGateway/SMSGatewayWCFLibrary/Messages/" />
        </baseAddresses>
      </host>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
        <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
        <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
        <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>
  
</configuration>